/* import bitstream font */
@font-face {
    font-family: 'bitstream_vera_sans_monoroman';
    src: url('VeraMono-webfont.woff');
    font-style: normal;
}

body {
	background: #547184; /*background image/colour for page*/
	font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
	/* font-size: 100%; /*sets all fonts to default font size for making relative changes. Typically this is 16px.*/
	color:  black;
}

.header {
    background: black;
    padding: 0.75em;
    margin-top: 0.75em;
}

.header-image {
    width: 50%;
    height: 121px;
    overflow: hidden;
    float: right;
    position: relative;
    top: -12px;
    right: -12px;
}

.header-image img {
    position: relative;
    top: -80px;
    right: -12px;
    overflow: hidden;
}

h1, h2, h3 {
  font-family: "Arial Black", Gadget, sans-serif;
}

h1 {
  font-size: 64px;
  color: white;
}


h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.7em;
}

a:hover {
  text-decoration: underline;
}

.topnav {
  margin: 1em auto 1.75em auto;
  background: white;
  width: 100%%;
}

li.short-title {
  display: none;
}

.topnav ul.menu {
  width: 80%;
  margin: auto;
}

ul.menu li {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75em;
  }

.menu>li>a {
  color: black;
}
.menu>li>a:hover {
  color: black;
}

.main-content {
    background: white;
    padding: 1em;
}

p {
  font-size: 1.2em;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 10px solid #547184;
    margin: 1em 0;
    padding: 0;
    width: 110%;
    position: relative;
    left: -5%;
}

aside {
  font-style: italic;
  font-size: 0.75em;
}

.footer-wrapper {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background: white;
	padding: 1.2em 0 0.5em 0;
	border-top: solid 1px;
}

footer {
	width: 60%;
	text-align: center;
	margin: 0 auto 0 auto;
}

footer ul.menu {
    width: 60%;
    margin: auto;
}

footer li a {
  font-size: large;
}

/* MEDIA QUERIES */

/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    li.long-title {
      display: none;
    }

    li.short-title {
      display: inherit;
    }

		p {
      font-size: 2em;
    }

    h2 {
      font-size: 2.4em;
    }

    h3 {
      font-size: 2.2em;
      font-weight: bold;
    }

    .topnav ul.menu {
      width: 100%;
      margin: 0;
    }

    ul.menu li {
      font-size: 1.8em;
    }

    .footer-wrapper {
    	position: fixed;
    	bottom: 0;
    	left: 0;
    	width: 100%;
    	background: white;
    	padding: 0;
    	border-top: solid 1px;
    }

    footer {
      width: 100%;
    }

    footer.ul menu {
      width: 100%;
    }

    footer ul.menu li a {
      font-size: 1em;
    }

    .picatic-widget-button.pwb-small {
      font-size: 32px;
    }
	}


/* @media screen and (device-width: 360px)
	and (device-height: 640px)
	and (-webkit-device-pixel-ratio: 2) {

}*/

/* END MEDIA QUERIES */
