<!DOCTYPE html>
<html>
<head>
	<!-- scripts and stylesheets -->
	<meta name="theme-color" content="#547184" />
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="js/burger-menu.js"></script>
	<link rel="stylesheet" type="text/css" href="css/foundation.min.css">
	<link rel="stylesheet" type="text/css" href="css/global.css">
	<link rel="icon" href="favicon.ico" type="image/x-icon"/>
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>

	<meta name="description" content="Club for TidalCycles users, the live coding language for exploring musical pattern.">
	<meta name="keywords" content="livecoding,tidalcycles,tidal,algorave">
	<title>Tidal Club</title>
</head>
<body>
	<div class="row">

		<!-- MAIN CONTENT -->

		<!-- HEADER -->
		<div class="large-2 columns"><!-- ... -->
			&nbsp;
		</div>
		<div class="large-8 columns">
			<div class="header">
				<div class="header-image">
					<img src="assets/tidal-wb.png" alt="TidalCycles logo">
				</div>
				<div class="header-text">
				<span class="title-text">Tidal Club</span>
				</div>
			</div>

			<!-- /HEADER -->
			<!-- NAVIGATION -->
			<nav class="topnav">
				<div class="mobile-menu">
				<button class="hamburger">MENU</button>
  			<button class="cross">CLOSE</button>
			</div>
			<div class="lscape-menu">
				<ul class="menu">
					<li><a href="index.html">Home</a></li>
					<li><a href="sheffield.html">Sheffield</a></li>
					<li><a href="london.html">London</a></li>
					<li><a href="atlanta.html">Atlanta</a></li>
					<li><a href="contact.html">Contact</a></li>
					<li><a href="start.html">Start your own Tidal Club</a></li>
				</ul>
				</div>
				<div class="mobile-menu-links">
					<ul class="menu-links">
						<li><a href="index.html">Home</a></li>
						<li><a href="sheffield.html">Sheffield</a></li>
						<li><a href="london.html">London</a></li>
						<li><a href="atlanta.html">Atlanta</a></li>
						<li><a href="contact.html">Contact</a></li>
						<li><a href="start.html">Start your own Tidal Club</a></li>
					</ul>
				</div>
			</nav>
			<div class="main-content">
{{ content }}
        </div>
		<div class="large-2 columns">&nbsp;<!-- ... --></div>
		<div class="end-block">&nbsp;</div>
	</div>
	<div class="footer-wrapper">
	<footer>
			<ul class="menu">
				<li><a href="https://twitter.com/tidalclub">twitter</a></li>
				<li><a href="https://www.facebook.com/tidalcycles/?fref=ts">facebook</a></li>
				<li><a href="https://www.picatic.com/team/468">events</a></li>
				<li><a href="https://tidalcycles.org/">tidalcycles.org</a></li>
			</ul>
		</footer>
		</div>
	</div>
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//stats.lurk.org/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 2]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//stats.lurk.org/piwik.php?idsite=2" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->

	</body>
	</html>
